
<h4>application Form</h4>
{%for job in job%}
<form action="/job/{{job['id']}}/apply" method="post">
{%endfor%}
<div class="mb-2">
<label>Full Name</label><br>
<input type="text" name="full_name" placeholder="Antoine BABA">
</div>

<div class="mb-2">
<label>Email</label><br>
<input type="text" name="email" placeholder="antoinebaba5@gmail.com">
</div>

<div class="mb-2">
<label>LinkedIn URL</label><br>
<input type="text" name="linkedin" placeholder="https://www.linkedin.com/in/koffi-a-antoine-baba-4b2436195/"><br>

<div class="mb-2">
    <label>Education</label><br>
    <textarea name="education"></textarea>
</div>

<div class="mb-2">
    <label>Work Experience</label><br>
    <textarea name="work_experience"></textarea>
</div>

<div class="mb-2">
    <label>Resume URL</label><br>
    <input type="text" name="resume_url" ><br>
</div>
<div class="mb-2">
<input type="submit">
</div>


</form>
