<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{job.title}} - Koffi Careers</title>
        {% include 'bootstrap.html' %}

    </head>
    <body>
        {% include 'navbar.html'%}
        {% include 'banner.html'%}

        {%for job in job%}
        <h3>Title</h3>
        <p>{{job.title}}</p>
        <h3>Location</h3>
        <p>{{job.location}}</p>
        <h3>Salary</h3>
        <p>{{job.currency}}{{job.salary}}</p>
        <h3>Responsibilities</h3>
        <p>{{job.responsibilities}}</p>
        <h3>Requirements</h3>
        <p>{{job.requirements}}</p>
        {%endfor%}

        {% include 'footer.html' %}
    </body>
</html>